<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=playersPlayoff.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/playoffs">Back</a>
    <h2><%=playersPlayoff.name%> | <%=playersPlayoff.team%> </h2>
    <img src="<%=playersPlayoff.img%>" class="player-photo">
    <h3>2023 Playoff Averages:</h3>
    <p>Points: <%=playersPlayoff.ppg%></p>
    <p>Rebounds: <%=playersPlayoff.rpg%></p>
    <p>Assists: <%=playersPlayoff.apg%></p>
    
</body>
</html>